body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Marck Script', cursive;
    background: url("../assets/bg.jpg");
    background-size: 100%;
    padding: 0;
    margin: 0;
}
body h1 {
    color: aliceblue;
    font-size: 50px;
    margin-top: 20px;
}
.content__wrapper {
    width: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content__img {
    height: 30rem;
}
.content {
    display: flex;
    justify-content: space-between;   
    font-size: 20px;
    margin-top: 20px;
}
.content__text {
    width: 70%;
    color: aliceblue;
}
.control {
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 10px;
}
.control__wrap {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
}
.control__wrap:hover div {
    background: aliceblue;
    opacity: 1;
}
.control__button {
    width: 15px;
    height: 15px;
    background: aliceblue;
    opacity: 0.6;
    border-radius: 15px;
}
.active {
    background: none;
    border: solid 3px white;
}

@media (max-width: 768px) {
    .content__wrapper {
        width: 90%;
    }
    .content__img {
        width: 30rem;
        height: 30rem;
    }
    .content {
        flex-direction: column-reverse;
        margin-top: 10px;
    }
    .content__text {
        width: 100%;
        font-size: 30px;
    }
    .control {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 520px) {
    body h1 {
        font-size: 30px;
        margin: 5px;
    }
    .content__wrapper {
        width: 90%;
    }
    .content__img {
        height: 20rem;
    }
    .content {
        font-size: 15px;
        margin-top: 5px;
    }
    .content__text {
        font-size: 30px;
    }
}